<h1>All Pets for <%= @owner.first_name%> <%= @owner.last_name %></h1>
<hr>
<% @owner.pets.each do |pet| %>
  <p>
    Name:<%= pet.name %>
    Breed:<%= pet.breed %>
  </p>
  <%= link_to "view this pet", owner_pet_path(@owner,pet) %>
<% end %>
<hr>
<hr>
<%= link_to "add a pet", new_owner_pet_path(@owner) %>
<hr>
<%= link_to "view owner page", owner_path(@owner) %>
